<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.apmem.widget.notes"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:icon="@drawable/logo" android:label="@string/app_name">
        <activity android:name=".SimpleNoteWidgetListsActivity"
                  android:label="@string/activity_lists_title"
                  android:theme="@android:style/Theme.Dialog"
                />
        <activity android:name=".SimpleNoteWidgetItemActivity"
                  android:label="@string/activity_item_title"
                  android:theme="@android:style/Theme.Dialog"
                />
        <receiver android:name=".SimpleNoteWidgetProvider" android:label="@string/app_widget_2_2" android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_ACTIVITY"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_WIDGET"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_2_2"/>
        </receiver>
        <receiver android:name=".SimpleNoteWidgetProvider" android:label="@string/app_widget_2_3" android:enabled="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_ACTIVITY"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_WIDGET"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_2_3"/>
        </receiver>
        <receiver android:name=".SimpleNoteWidgetProvider" android:label="@string/app_widget_3_2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_ACTIVITY"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_WIDGET"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_3_2"/>
        </receiver>
        <receiver android:name=".SimpleNoteWidgetProvider" android:label="@string/app_widget_3_3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_ACTIVITY"/>
                <action android:name="ACTION_WIDGET_UPDATE_FROM_WIDGET"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_3_3"/>
        </receiver>
    </application>
    <uses-sdk android:targetSdkVersion="8"/>
</manifest> 